@model User
@{
    ViewData["Title"] = "Details";
}

<h1>Детальна інформація</h1>

<div>
    
    </hr>
      <div class="col-4">
                      <img src="@URL.ImageUserURL@Model.Image" width=" 100%" style="border-radius:5px; border:1px solid #bbb" />
                 </div>
    <dl class="row">
        <dt class="col-sm-2">
             Ім'я
        </dt>
        <dd class="col-sm-10">
             @Html.DisplayFor(modelItem => modelItem.Name)
        </dd>
        <dt class="col-sm-2">
            Рік народження
        </dt>
        <dd class="col-sm-10">
             @Html.DisplayFor(modelItem => modelItem.Year)
        </dd>


         <h4>
            Особисті справи
        </h4>
        <div class="col-6 text-right">
            <a asp-controller="Todo" asp-action="Create" asp-route-id="@Model.Id" class=" btn btn-primary">
                Додати справу користувачу
            </a> 
        </div>
        <dd class="col-sm-10">

        </dd>
         @if (Model.TodoList.Count > 0)
        {
            @foreach (var item in Model.TodoList)
            {
                <dd class="col-sm-10">
                    
                     @Html.DisplayFor(modelItem => item.Description)
                     <a asp-controller="ToDo" asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                     <a asp-controller="ToDo" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </dd>  
            }
        }
    </dl>
</div>

